<h1> Ekle <h1>
<p style="margin-bottom: 30px;">Eklemek istediğin şarkının <span style="color: #cd201f">YouTube</span> linkini aşağıya yapıştırabilirisn.</p>

<div class="row">
    <div class="col-sm-12">
        <form action="/ekle" method="post">
            <input type="text" class="form-control" id="link" name="aLink" style="text-align: center;">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <div class="form-check">
                            <label class="form-check-label" for="enerjik">
                                <input type="checkbox" class="form-check-input" id="enerjik" name="c1" style="width: 40px;height: 40px;"><br>
                                <div style="font-size: 20px;background-color: #333;color:#FEFB00;width: 140px;height:50px;padding:10px;border-radius: 5px;border: solid 1px white;">Enerjik</div>
                            </label>
                        </div>
                    </div>
                    <div class="col" style="text-align: center;">
                        <div class="form-check">
                            <label class="form-check-label" for="dram">
                                <input type="checkbox" class="form-check-input" id="dram" name="c2" style="width: 40px;height: 40px;"><br>
                                <div style="font-size: 20px;background-color: #333;color:#06B9CF;width: 140px;height:50px;padding:10px;border-radius: 5px;border: solid 1px white;">Dram</div>
                            </label>
                        </div>
                    </div>
                    <div class="col" style="text-align: center;">
                        <div class="form-check">
                            <label class="form-check-label" for="ask">
                                <input type="checkbox" class="form-check-input" id="ask" name="c3" style="width: 40px;height: 40px;"><br>
                                <div style="font-size: 20px;background-color: #333;color:#F0121F;width: 140px;height:50px;padding:10px;border-radius: 5px;border: solid 1px white;">Aşk</div>
                            </label>
                        </div>
                    </div>
                    <div class="col" style="text-align: center;">
                        <div class="form-check">
                            <label class="form-check-label" for="anarsik">
                                <input type="checkbox" class="form-check-input" id="anarsik" name="c4" style="width: 40px;height: 40px;"><br>
                                <div style="font-size: 20px;background-color: #333;color:white;width: 140px;height:50px;padding:10px;border-radius: 5px;border: solid 1px white;">Anarşik</div>
                            </label>
                        </div>
                    </div>
                    <div class="col" style="text-align: center;">
                        <div class="form-check">
                            <label class="form-check-label" for="alternatif">
                                <input type="checkbox" class="form-check-input" id="alternatif" name="c5" style="width: 40px;height: 40px;"><br>
                                <div style="font-size: 20px;background-color: #333;color:#80F221;width: 140px;height:50px;padding:10px;border-radius: 5px;border: solid 1px white;">Alternatif</div>
                            </label>
                        </div>
                    </div>    

            
                </div>
            <button type="submit" class="btn ekle" style="width: 200px;">Ekle</button>
        </form>
    </div>
</div>
