<h1>Patlat Bi'şeyler<h1>

<button class="btn kesfet" onclick="window.location.href='/kategori'">Keşfet!</button>

<p style="margin-top: 30px;">İstersen <a href="/ekle" >buraya</a> tıklayarak sen de parça stoğumuza destek olabilirsin :)</p>