<h1> Kategoriler <h1>
<div class="row">
    <div class="col-6" style="margin-bottom: 30px;">
        <button class="btn kategori" onclick="window.location.href='/kategori/g/enerjik'" ><i class="fas ktgricon fa-bolt" style="color: #FEFB00;" ></i></button> <!-- Enerjik -->
    </div>
    <div class="col-6" style="margin-bottom: 30px;">
        <button class="btn kategori" onclick="window.location.href='/kategori/g/dram'" ><i class="fas ktgricon fa-tint" style="color: #06B9CF" ></i></button> <!-- Duygusal -->
    </div>
</div>
<div class="row">
    <div class="col-6" style="margin-bottom: 30px;">
        <button class="btn kategori" onclick="window.location.href='/kategori/g/ask'" ><i class="fas ktgricon fa-heart" style="color: #F0121F" ></i></button> <!-- Sevgi Dolu -->
    </div>
    <div class="col-6" style="margin-bottom: 30px;">
        <button class="btn kategori" onclick="window.location.href='/kategori/g/anarsik'" ><i class="fas ktgricon fa-skull" style="color: white" ></i></button> <!-- Öfkeli -->
    </div>
</div>
<div class="row">
    <div class="col-6" style="margin-bottom: 30px;">
        <button class="btn kategori" onclick="window.location.href='/kategori/g/alternatif'" ><i class="fas ktgricon fa-music" style="color: #80F221" ></i></button> <!-- Enstrumental -->
    </div>
    <div class="col-6" style="margin-bottom: 30px;">
        <button class="btn kategori" onclick="window.location.href='/kategori/g/rastgele'" ><i class="fas ktgricon fa-question" style="color: #824ED2" ></i></button> <!-- Şaşırt beni -->
    </div>
</div>
<script> 
$(document).ready(function(){
        $("button").animate({height: '140px',width: '140px'});
    });
</script> 