<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patlat Bi'şeyler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
</head>
<body>
  
<div class="container" style="margin-top:50px;text-align: center; ">
          <%- body %>
</div>
<div style="background-color: rgb(21, 20, 20) !important;margin-top: 10px;">
        <div class="container" style="padding-top: 30px;padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <a style="color: #ffffff; font-size: 30px;" href="/">Patlat Bi'şeyler:</a>
                    <p style="color: #8b9db0; font-size: 25px;">Biz, müziklerin ait oldukları kategorilere göre değil 
                    de bize yaşattıkları duygular üzerine sınıflandırılmasından yanayız. Bu yüzden 
                    size, seçtiğiniz duyguya özel rastgele müzik öneren bu platformu oluşturduk. 
                    Eğer siz de çorbada tuzum bulunsun diyorsanız <a href="/ekle">buraya<a> tıklayarak listemize ekleme yapabilirsiniz.</p>
                </div>
            </div>    
        </div>
    </div>

<script type="text/javascript" src="/public/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>